
@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    transition: all 0.5s ease-in;
}

:root{
    /*Colors*/
    --white-color: #fff;
    --dark-color: #252525;
    --primary-color:#e7f2f2;
    --secundary-color:#009ca5;
    --main-color:#00afa5;
    --rosa-color:#bf7e89;
    --azul-color:#233645;
    --light-pink-color:#f4eade
    ;
    --medium-gray-color:#ccc;

    /*Font size*/
    --font-size-s:0.9rem;
    --font-size-n:1rem;
    --font-size-m:1.12rem;
    --font-size-l:1.5rem;
    --font-size-x1:2rem;
    --font-size-xx1:2.3rem;

    /*Font weight*/
    --font-weight-normal:400;
    --font-weight-medium:500;
    --font-weight-semibold:600;
    --font-weight-bold:700;

    /*Border radius*/
    --border-radius-s:8px;
    --border-radius-m:30px;
    --border-radius-circle:50%;

    /*Site max width*/
    --site-max-width:1300px
}

html, body{
overflow-x: hidden;
width: 100vw;
justify-content: center;}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
    border: none;
    background: none;
}
img{
    width: 100%;
}
body{
    background-color: var(--primary-color);
}
section{justify-content: center; width: 100vw;
justify-content: center;
margin: auto;}

.section-title{
    text-align: center;
    padding: 60px 5px 50px;
    text-transform: uppercase;
    font-size: var(--font-size-x1);
}

.section-title::after{
    content: "";
    width: 80px;
    height: 5px;
    display: block;
    margin: 10px auto 0;
    border-radius: var(--border-radius-s);
    background: var(--secundary-color);
}

.section-content{

    margin: 0 auto;
    padding:  0 20px;
    max-width: var(--site-max-width);

}
