

/*Testimonials section*/
.testimonials-section{
    padding: 50px 0 100px;
}
.testimonials-section .slider-wrapper{
    overflow: hidden;
    margin: 0 60px 50px;
}
.testimonials-section .testimonial{
    display: flex;
    padding: 35px;
    text-align: center;
    flex-direction: column;
    align-items: center;

}

.testimonials-section .testimonial .name{
    margin: 16px;
    font-size: var(--font-size-m) ;

}
.testimonials-section .testimonial .feedback{
    line-height: 25px;
}
.testimonials-section .testimonial .user-image{
    width: 180px;
    height: 180px;
    object-fit: cover;
    margin-bottom: 50px;
    border-radius: var(--border-radius-circle);
}
.testimonials-section .swiper-pagination-bullet{
    width: 15px;
    height: 15px;
    opacity: 1;
    background: var(--secundary-color);
}
.testimonials-section .swiper-slide-button {
    margin-top: -50px;
    color: var(--secundary-color);
    transition: 0.3s ease;
}
.testimonials-section .swiper-slide-button:hover {
    color: var(--primary-color);
}
